// Colors
$white     :   #fff;
$gray      :   #2c3e50;
$dark-gray :   #95a5a6;
$dark      :   #2c3e50;

$priamry   :   #3498db;
$accent    :   #7abb1c;
$success   :   #1abc9c;
$alert     :   #e74c3c;
